{% extends 'base.html' %}

{% set hide_header=true %}

{% block body %}
<ul class="list-group">
    {% for article in articles %}
    <li class="list-group-item article {% if article.title == 'More' %}more{% endif %}">
        <span class="badge pull-right">{{ article.points }}</span>
        <a {% if article.title != 'More' %}target="_blank"{% endif %} href="{{ article.href }}">{{ article.title }}</a><br/>
        <small class="muted">{{ article.subtext }}</small>
    </li>
    {% endfor %}
</ul>
{% endblock %}
